{
	"address": "127.0.0.1",
	"port": 80,
	"development": true,
	"googleClientID": "string",
    "logPath": "string",
	"postgreSQL": {
		"address": "127.0.0.1",
		"port": 5432,
		"database": "string",
		"username": "string",
		"password": "string"
	},
	"jwt": {
		"key": "string",
		"accessTTL": 1,
		"refreshTTL": 1
	}
}
